body {
	background-color: #1A1A1A;
}

#box {
}

#photo {
	margin: auto;
	border: 8px solid #818181;
	border-radius: 4px;
}

div#caption {
	width: 80%;
	color: white;
	background: black;
	position: relative;
	opacity: 0.5;
	bottom: 90px;
	left: 50px;
	padding: 10px;
	font-size: 1.2em;
}
