body {
	background-color: #1A1A1A;
}

#box {
	border: 8px solid #818181;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
}

#photo {
}

div#caption {
	width: 80%;
	bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	color: white;
	background: black;
	position: relative;
	opacity: 0.7;
	padding: 10px;
	font-size: 1.2em;
}
